In [1]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns

In [2]:
def TimeDiff(df, frameSize):
    count = 1
    classLabel = df.loc[1,"ClassLabel"]
    time_diff = [0]
    rows = (df.shape)[0]
    for i in range(1,rows):
        if((df.loc[i+1,"ClassLabel"] == classLabel) and (count < frameSize)):
            diff = datetime.datetime.strptime(df.iloc[i,0].split(' ')[3],"%H:%M:%S") - datetime.datetime.strptime(df.iloc[i-1,0].split(' ')[3],"%H:%M:%S")
            time_diff.append(diff.total_seconds())
            count = count + 1
        else:
            time_diff.append(0)
            classLabel = df.loc[i+1,"ClassLabel"]
            count = 1    
    df["SNMP Parameters"] = time_diff
    df.rename(index=str, columns={"SNMP Parameters": "Time Difference"})

In [3]:
def difference(df,cols):
    classLabel = df.loc[1,"ClassLabel"]
    diffList = []

    for j in cols:
        diffList.append([df.loc[1,j]])
        
    rows = (df.shape)[0]
    for i in range(2,rows+1):
        if((df.loc[i,"ClassLabel"] == classLabel)):
            for j in range(len(cols)):
                diffList[j].append(df.loc[i,cols[j]] - df.loc[i-1,cols[j]])
        else:
            for j in range(len(cols)):
                diffList[j].append(df.loc[i,cols[j]])
            classLabel = df.loc[i,"ClassLabel"]
    
    for j in range(len(cols)):
        df[cols[j]] = diffList[j]

In [4]:
def makeNewDataFrame(df, frameSize):
    i = 0
    listOfRowVals = []
    rows = (df.shape)[0]
    while(i+frameSize-1<rows):
        if(df.iloc[i,-1] == df.iloc[i+frameSize-1,-1]):
            rowVals = []
            for j in range(frameSize):
                rowVals = rowVals + list(df.iloc[i+j,:-1])
            rowVals.append(df.iloc[i,-1])
            i = i+frameSize
            listOfRowVals.append(rowVals)
        else:
            j = 1
            while(df.iloc[i,-1] == df.iloc[i+j,-1]):                        
                j=j+1
            i = i+j   
    new_df = pd.DataFrame(listOfRowVals)
    return new_df

In [5]:
df = pd.read_csv('./SNMP_Dataset.csv')
#To drop iso values
df = df[1:]
#Coding Class Types into integers
labelDict = {'ICMP_Normal' : 0, 'UDP_Normal' : 1, 'LAND_Normal' : 2,
            'TCPSYN_Normal' : 3, 'TCPSYNACK_Normal' : 4, 'ICMP_Flood' : 5,
            'UDP_Flood' : 6, 'LAND_Flood' : 7, 'TCPSYN_Flood' : 8,
             'TCPSYNACK_Flood' : 9}
limit = len(df['ClassLabel']) + 1
#df['ClassLabel'] = df['ClassLabel'].replace(['ICMP_Normal','UDP_Normal','LAND_Normal','TCPSYN_Normal','TCPSYNACK_Normal','ICMP_Flood','UDP_Flood','LAND_Flood','TCPSYN_Flood','TCPSYNACK_Flood'],[0,1,2,3,4,5,6,7,8,9])
for i in range(1, limit):
    df['ClassLabel'][i] = labelDict[df['ClassLabel'][i]]

In [6]:
frameSize = 6
TimeDiff(df, frameSize)
df

,SNMP Parameters,icmp_AddrMaskReps,icmp_InAddrMasks,icmp_InDestUnreachs,icmp_InEchosReps,icmp_InEchos,icmp_InErrors,icmp_InMsgs,icmp_InParmProbs,icmp_InRedirects,...,tcp_PassiveOpens,tcp_RetransSegs,tcp_RtoAlgorithm,tcp_RtoMax,tcp_RtoMin,udp_InDatagrams,udp_InErrors,udp_NoPorts,udp_OutDatagrams,ClassLabel
1,0.0,0,0,0,16,0,0,17,0,0,...,1,0,1,120000,200,148,0,1,149,0
2,33.0,0,0,0,111,0,0,112,0,0,...,2,0,1,120000,200,445,0,1,446,0
3,39.0,0,0,0,229,0,0,230,0,0,...,2,0,1,120000,200,741,0,1,742,0
4,34.0,0,0,0,0,0,0,332,0,0,...,2,0,1,120000,200,1037,0,1,1038,0
5,40.0,0,0,0,442,0,0,443,0,0,...,2,0,1,120000,200,1333,0,1,1334,0
6,32.0,0,0,0,548,0,0,549,0,0,...,2,0,1,120000,200,1629,0,2,1630,0
7,0.0,0,0,0,656,0,0,657,0,0,...,2,0,1,120000,200,1925,0,2,1926,0
8,30.0,0,0,0,766,0,0,767,0,0,...,2,0,1,120000,200,2221,0,2,2222,0
9,41.0,0,0,0,871,0,0,872,0,0,...,2,0,1,120000,200,2517,0,2,2518,0
10,31.0,0,0,0,985,0,0,986,0,0,...,2,0,1,120000,200,2813,0,2,2814,0
11,40.0,0,0,0,1085,0,0,1086,0,0,...,2,0,1,120000,200,3109,0,2,3110,0
12,32.0,0,0,0,1203,0,0,1204,0,0,...,2,0,1,120000,200,3405,0,2,3406,0
13,0.0,0,0,0,1301,0,0,1302,0,0,...,2,0,1,120000,200,3701,0,2,3702,0
14,33.0,0,0,0,1425,0,0,1426,0,0,...,2,0,1,120000,200,3997,0,2,3998,0
15,38.0,0,0,0,1518,0,0,1519,0,0,...,2,0,1,120000,200,4293,0,2,4294,0
16,36.0,0,0,0,1644,0,0,1645,0,0,...,2,0,1,120000,200,4589,0,2,4590,0
17,36.0,0,0,0,1733,0,0,1734,0,0,...,2,0,1,120000,200,4885,0,2,4886,0
18,37.0,0,0,0,1858,0,0,1859,0,0,...,2,0,1,120000,200,5181,0,2,5182,0
19,0.0,0,0,0,1951,0,0,1952,0,0,...,2,0,1,120000,200,5477,0,2,5478,0
20,37.0,0,0,0,2071,0,0,2072,0,0,...,2,0,1,120000,200,5773,0,2,5774,0
21,35.0,0,0,0,2168,0,0,2169,0,0,...,2,0,1,120000,200,6069,0,2,6070,0
22,39.0,0,0,0,2285,0,0,2286,0,0,...,2,0,1,120000,200,6365,0,2,6366,0
23,32.0,0,0,0,2385,0,0,2386,0,0,...,2,0,1,120000,200,6661,0,2,6662,0
24,40.0,0,0,0,2498,0,0,2499,0,0,...,2,0,1,120000,200,6957,0,2,6958,0
25,0.0,0,0,0,2602,0,0,2603,0,0,...,2,0,1,120000,200,7253,0,2,7254,0
26,41.0,0,0,0,2712,0,0,2713,0,0,...,2,0,1,120000,200,7549,0,2,7550,0
27,31.0,0,0,0,2818,0,0,2819,0,0,...,2,0,1,120000,200,7845,0,2,7846,0
28,42.0,0,0,0,2924,0,0,2925,0,0,...,2,0,1,120000,200,8141,0,2,8142,0
29,30.0,0,0,0,0,0,0,3037,0,0,...,2,0,1,120000,200,8437,0,2,8438,0
30,40.0,0,0,0,3139,0,0,3140,0,0,...,2,0,1,120000,200,8733,0,2,8734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,75.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,65273,0,512798694,65274,6
2393,98.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,65569,0,514996717,65570,6
2394,0.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,65865,0,517167541,65866,6
2395,102.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,66161,0,519469423,66162,6
2396,67.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,66457,0,521787608,66458,6
2397,103.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,66753,0,524013246,66754,6
2398,73.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,67049,0,526512188,67050,6
2399,101.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,67345,0,528659392,67346,6
2400,0.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,67641,0,531008576,67642,6
2401,85.0,0,0,0,0,0,0,1,0,0,...,2,8,1,120000,200,67937,0,533032164,67938,6
2402,85.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,68233,0,535878119,68234,6
2403,99.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,68529,0,537812296,68530,6
2404,85.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,68825,0,540523713,68826,6
2405,85.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,69121,0,542403689,69122,6
2406,0.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,69417,0,545351809,69418,6
2407,80.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,69713,0,547270479,69714,6
2408,100.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,70009,0,550186062,70010,6
2409,82.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,70305,0,552390370,70306,6
2410,103.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,70601,0,554948441,70602,6
2411,77.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,70897,0,557171761,70898,6
2412,0.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,71193,0,559617475,71194,6
2413,68.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,71489,0,561900245,71490,6
2414,103.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,71785,0,564232086,71786,6
2415,74.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,72081,0,566827924,72082,6
2416,110.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,72377,0,569256725,72378,6
2417,71.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,72673,0,571583939,72674,6
2418,0.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,72969,0,573650651,72970,6
2419,79.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,73265,0,576077076,73266,6
2420,83.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,73561,0,577961719,73562,6
2421,85.0,0,0,0,0,0,0,1,0,0,...,2,15,1,120000,200,73857,0,580638891,73870,6

In [7]:
df = df.astype(int)
#To drop columns with same values throughout -> 36 columns got dropped
#Dimentionality Reduction
df = df.drop(df.std()[(df.std() == 0)].index, axis=1)

In [8]:
df.head()

,SNMP Parameters,icmp_InEchosReps,icmp_InErrors,icmp_InMsgs,icmp_InTimeExcds,icmp_InTimestamps,icmp_OutEchoReps,icmp_OutErrors,icmp_OutTimeExcds,icmp_OutTimestamps,...,tcp_EstabResets,tcp_InSegs,tcp_OutRsts,tcp_OutSegs,tcp_PassiveOpens,tcp_RetransSegs,udp_InDatagrams,udp_NoPorts,udp_OutDatagrams,ClassLabel
1,0,16,0,17,1,0,0,17,1,16,...,0,178,0,213,1,0,148,1,149,0
2,33,111,0,112,1,0,0,112,1,127,...,0,198,0,243,2,0,445,1,446,0
3,39,229,0,230,1,0,0,230,1,229,...,0,255,0,282,2,0,741,1,742,0
4,34,0,0,332,1,0,0,347,1,346,...,0,261,0,287,2,0,1037,1,1038,0
5,40,442,0,443,1,0,0,443,1,442,...,0,273,0,296,2,0,1333,1,1334,0

In [9]:
colsToFindDifference=['icmp_InEchosReps','icmp_InMsgs','icmp_OutErrors','icmp_OutTimestamps','ip_InDelivers','ip_InReceives','ip_OutRequests','udp_InDatagrams','udp_OutDatagrams']
difference(df,colsToFindDifference)

In [10]:
df_ = makeNewDataFrame(df, frameSize)
df_.to_csv('datasetToLearn.csv')
df_.head()

,0,1,2,3,4,5,6,7,8,9,...,165,166,167,168,169,170,171,172,173,174
0,0,16,0,17,1,0,0,17,1,16,...,0,273,0,296,2,0,296,2,296,0
1,0,108,0,108,1,0,0,91,1,91,...,0,273,0,296,2,0,296,2,296,0
2,0,98,0,98,1,0,0,82,1,97,...,0,299,0,316,2,0,296,2,296,0
3,0,93,0,93,1,0,0,93,1,108,...,0,299,0,316,2,0,296,2,296,0
4,0,104,0,104,1,0,0,2618,1,2617,...,0,299,0,316,2,0,296,2,296,0